<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 

    <body>
      <%- include('./partials/nav.ejs')  %> 

      <div class="container-fluid pt-5 pb-5">

        <h1 class = 'text-center mb-4'>Blog title</h1>
        <h4 class = "text-center"><span>25 December 2020</span>  | <span class = "text-capitalize"> post by <span>Author name</span></span> </h4>
    <hr>  

    <div class="row">
        <div class="col-md-8 mx-auto">

                <div class="card border-primary w-100 shadow">
                    <div class="card-body">
                        <p class="card-text">


                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime inventore eveniet repudiandae nostrum recusandae vero esse aperiam sunt, nihil officiis, quam repellendus iure animi suscipit? Eveniet voluptatibus reprehenderit natus?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime inventore eveniet repudiandae nostrum recusandae vero esse aperiam sunt, nihil officiis, quam repellendus iure animi suscipit? Eveniet voluptatibus reprehenderit natus?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime inventore eveniet repudiandae nostrum recusandae vero esse aperiam sunt, nihil officiis, quam repellendus iure animi suscipit? Eveniet voluptatibus reprehenderit natus?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime inventore eveniet repudiandae nostrum recusandae vero esse aperiam sunt, nihil officiis, quam repellendus iure animi suscipit? Eveniet voluptatibus reprehenderit natus?

                        </p>
                    </div>
                </div>
        </div>
    </div>
    
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>